<div>
  <h1>Poll <%= @poll.question %></h1>
  <%= form_for :vote, Routes.poll_path(@conn, :vote, @poll.id), fn f -> %>
    <%= for option <- @poll.options do %>
      <%= radio_button(f, :option_id, option.id) %> <%= option.title %> </br>
    <% end %>

    <%= submit "Vote" %>
  <% end %>
</div>
