<div>
  <h1>Poll <%= @poll.question %></h1>
  <%= form_for :vote, Routes.poll_path(@conn, :vote), fn f -> %>
    <%= for option <- @poll.options do %>
      <%= radio_button(f, :option_id, option.id) %> <%= option.title %> </br>
    <% end %>

    <%= hidden_input f, :poll_id, value: @poll.id %>
    <%= submit "Vote" %>
  <% end %>
</div>
